

.App {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}


/* Header */

.header {
  padding: 15px 0;
  background-color: var(--main-black);
  margin-bottom: 36px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {

}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}


/* Reuse */

.btn__white {
  padding: 10px 20px;
  color: var(--main-black);
  background: #FFFFFF;
  font-family: "Proxima Nova";
  font-weight: 600;
  font-size: 1.4rem;
  border-radius: 0%;
  white-space: nowrap;
}

.btn__black {
  padding: 10px 20px;
  background: var(--main-black);
  color: #FFFFFF;
  font-family: "Proxima Nova";
  font-weight: 600;
  font-size: 1.4rem;
  border-radius: 0%;
  white-space: nowrap;
  max-height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn__white:hover,
.btn__white:active,
.btn__black:hover,
.btn__black:active{
  border-radius: 10px;
}

.title {
  font-weight: 500;
  font-size: 3.5rem;
  line-height: 40px;
  color: #000000;
  margin: 15px 0;
  font-family: 'Alegreya Sans SC';
}





/* Main */


/* List */

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.user__full {
  margin-bottom: 56px;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 23px;
  text-transform: capitalize;
  color: #000000;
}

.users__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 13px;
}

.user__card {
  padding: 15px;
  border: 1px solid #DADADA;
  -webkit-transition: border 0.3s;
  -o-transition: border 0.3s;
  transition: border 0.3s;
  width: 239px;
  height: 143px;
}

.user__card:hover,
.user__card:active {
  border: 1px solid #0D1E4B;
}



/* Profile */

.profile {
  margin-top: 36px;
  border: 1px solid #000000;
  height: 100%;
}

.profile__body:not(:first-child) {
  border-top: 1px solid #000000;
}

.profile__layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.profile__row-1,
.profile__row-2 {
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.profile__row-2 * {
  border-left: 1px solid black;
  border-right: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column-align: center;
      justify-self: center;
}

.border-top {
  border-top: 1px solid #000000;
}

.profile__data {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  padding: 5px 10px;
} 

.profile__row-2 a {
 text-decoration: underline;
}

.profile__contacts {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 30px;
  color: #000000;
}





/* Post & Comments */

.post__infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.post__title,
.comments__title {
  font-weight: 700;
  font-size: 1.7rem;
  text-transform: capitalize;
  color: #000000;
  margin-bottom: 4px;
  font-family: 'Open Sans', sans-serif;
}

.post__body {
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--main-gray);
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  font-family: 'Open Sans', sans-serif;
}

.post__card {
  border: 1px solid #000000;
  width: 489px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 143px;
  padding: 14px 22px 17px 35px;
  border-radius: 0%;
  -webkit-transition: border-radius 0.3s;
  -o-transition: border-radius 0.3s;
  transition: border-radius 0.3s;
}

.post__card:hover,
.post__card:active {
 border-radius: 10px;
}

.posts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 19.24px;
  padding-bottom: 20px;
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.post__txt {
color: var(--main-black);
font-size: 1.6rem;
}

.comments {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 gap: 20px;
}

.comment__card {
border: 1px solid #0D1E4B;
padding: 20px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
gap: 15px;
}

.comment__user {

}

.comment__name,
.comment__email {
color: var(--main-gray);
font-weight: 500;
font-size: 1.4rem;
}

.comment__body {
color: var(--main-black);
font-size: 1.6rem;
}



/* Form */

.form {
display: none;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
gap: 10px;
position: relative;
padding: 20px;
max-width: 320px;
}

.form.active {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
}

input {
border: 1px solid var(--main-gray);
padding: 10px;
-webkit-transition: border 0.2s;
-o-transition: border 0.2s;
transition: border 0.2s;

}

input:active,
input:hover {
border-color: var(--main-black);
}

input.error {
border: 2px solid rgb(182, 3, 3);
}

.error__txt {
color: rgb(182, 3, 3);
font-size: 1.2rem;
font-weight: 600;
}

.form__close {
position: absolute;
top: 1%;
right: 2%;
}


footer {
margin-top: 40px;
}


/* Media */


@media screen and (max-width: 1024px) { 
.posts__body {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
}

@media screen and (max-width: 992px) { 

}

@media screen and (max-width: 768px) { 

.profile__row-2 * {
  border: none;
}

.profile__row-1, .profile__row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.profile__data {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
}

@media screen and (max-width: 576px) {

.header__body {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.user__card {
  width: 290px;
}

.post__card {
  width: 290px;
  height: auto;
}

}