/* General */ 

@font-face {
  font-family: "Proxima Nova";
  src: url('./fonts/proxima-nova.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}


html, body {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  scroll-behavior: smooth;
}

:root {
  --main-black: #101010;
  --main-gray: #939393;
}

a, button {
  text-decoration: none;
  color: unset;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
}

a, h1, p, li, ul, h1, h2, h3, h4, div, h5, h6 {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: unset;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


/* Rem */

html {
  font-size: 10px;
}

body {
  font-size: 16px;
}


.container {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 10px;
}



/* General Media */


@media screen and (max-width: 1024px) { 
  .container {
      max-width: 992px;
  }
}

@media screen and (max-width: 992px) { 
  .container {
      max-width: 768px;
  }

  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 768px) { 
  .container {
      max-width: 576px;
  }

}

@media screen and (max-width: 576px) {
  .container {
      max-width: 100%;
      padding: 0 20px;
  }

}